<%= render 'layouts/flash_messages' %>
<div class="main-container">
  <div class="top-title">
    <h1>You'll Never Walk Alone</h1>
  </div>

  <div class="top-inner-text">
    <p>Liverpoolを愛してやまない管理人が</p>
    <p>KOPの皆さんとコミュニティを築き</p>
    <p>互いに情報交換をする事で</p>
    <p>Liverpoolを一緒に盛り上げていきたく開設しました！！</p>
  </div>  
</div>