 @import 'top';
 @import "bootstrap/scss/bootstrap";
 @import "font-awesome";
 $fa-font-path: '@fortawesome/fontawesome-free/webfonts';
 @import '@fortawesome/fontawesome-free/scss/fontawesome';
 @import '@fortawesome/fontawesome-free/scss/solid';
 @import '@fortawesome/fontawesome-free/scss/regular';
 @import '@fortawesome/fontawesome-free/scss/brands';
 @import '@fortawesome/fontawesome-free/scss/v4-shims';

 // max-width

 .mw-md {
   max-width: 576px;
 }

 .mw-xl {
  max-width: 100% auto;
}

 // 「ログインしました」などのフラッシュ用スタイル

 .alert-notice {
  @extend .alert-success !optional;
 }

 .alert-alert {
  @extend .alert-danger !optional;
 }

 i.fab.fa-twitter {
   color: #ffffff;
 }
